@model IEnumerable<Lands.Domain.Soccer.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Teams</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary", @disabled = "disabled" })
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                @if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    if (Lands.BackEnd.Helpers.FilesHelper.ExistFile(Server.MapPath(Url.Content(item.ImagePath))))
                    {
                        <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:80px;height:130px;max-width:100%; height:auto" />
                    }
                    else
                    {
                        if (Lands.BackEnd.Helpers.FilesHelper.ExistFile(Server.MapPath(Url.Content(Lands.BackEnd.Helpers.MethodsHelper.GetPathNoImage()))))
                        {
                            <img src="@Url.Content(Lands.BackEnd.Helpers.MethodsHelper.GetPathNoImage())" alt="Image" style="width:80px;height:130px;max-width:100%; height:auto" />
                        }
                    }
                }
                else
                {
                    if (Lands.BackEnd.Helpers.FilesHelper.ExistFile(Server.MapPath(Url.Content(Lands.BackEnd.Helpers.MethodsHelper.GetPathNoImage()))))
                    {
                        <img src="@Url.Content(Lands.BackEnd.Helpers.MethodsHelper.GetPathNoImage())" alt="Image" style="width:80px;height:130px;max-width:100%; height:auto" />
                    }
                }

            </td>

            <td>

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }, new { @class = "btn btn-warning" })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }, new { @class = "btn btn-warning", @disabled = "disabled" })
                }

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.TeamId }, new { @class = "btn btn-info" })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.TeamId }, new { @class = "btn btn-info"})
                }

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeamId }, new { @class = "btn btn-danger" })
                }
                else
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeamId }, new { @class = "btn btn-danger", @disabled = "disabled" })
                }
            </td>

        </tr>
    }

</table>