<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - World Soccer Russia 2018</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("World Soccer Russia 2018", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    @*CHEJ - Menu Anomino*@
                    <li class="dropdown">
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">@ECommerce.Domain.Resources.Resource.About<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.Home, "Index", "Home")</li>
                                <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.About, "About", "Home")</li>
                                <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.Contact, "Contact", "Home")</li>
                            </ul>*@
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About...<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </li>

                    @*CHEJ - Define quienes puede ver el DropBox*@

                    @if (User.IsInRole("Admin"))
                    {
                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ECommerce.Domain.Resources.Resource.Administrator<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.Departments, "Index", "Departments")</li>
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.Cities, "Index", "Cities")</li>
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.States, "Index", "States")</li>
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.Companies, "Index", "Companies")</li>
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.Users, "Index", "Users")</li>
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.AccountTypes, "Index", "AccountTypes")</li>
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.PaymentMethods, "Index", "PaymentMethods")</li>
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.MovementTypes, "Index", "MovementTypes")</li>
                                    <li>@Html.ActionLink(ECommerce.Domain.Resources.Resource.BankMovementTypes, "Index", "BankMovementTypes")</li>
                                </ul>
                            </li>*@

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("User Type", "Index", "UserTypes")</li>
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                                <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                                <li>@Html.ActionLink("Status Matches", "Index", "StatusMatches")</li>
                                <li>@Html.ActionLink("Status Board", "Index", "BoardStatus")</li>
                                <li>@Html.ActionLink("Boards", "Index", "Boards")</li>
                                <li>@Html.ActionLink("Predictions", "Index", "Predictions")</li>
                            </ul>
                        </li>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Menu<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                                <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - World Soccer Russia 2018</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>